.favoriteList{
  position: relative;
}

.favoriteList span::before{
  content: " ";
  width: 1px;
  height: 25px;
  background-color: #E1E1E1;
  position: absolute;
  left: 0;
}
.favoriteList span::after{
  content: " ";
  width: 1px;
  height: 25px;
  background-color: #E1E1E1;
  position: absolute;
  right: 0;
}

.filterProducts > select{
 padding: 8px 30px;
 margin: 0 16px;
 outline: none;
}
